!!! 5
/[if lt IE 7]   <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us">
/[if IE 7]      <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us">
/[if IE 8]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if IE 9]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if lt IE 10]  <html class="no-js lt-ie10" lang="en-us">
/[if !IE]>
%html{lang: 'en', class: 'no-js'}
  /<![endif]
  %head
    %title
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
    %meta(name="description" content="new design for Ubiqua AVE app")
    %meta(name="author" content="Horacio Herrera")

    -# Standard viewport tag to set the viewport to the device's width,
    -# Android 2.3 devices need this so 100% width works properly and
    -# doesn't allow children to blow up the viewport width
    %meta{content: "initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width", name: "viewport"}

    -# Fix for iPhone 5 fullscreen web apps
    %meta(name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1")

    -# Stylesheets
    / build:css css/main.min.css
    %link{href: "css/main.css", rel: "stylesheet", type: "text/css"}/
    / /build

  %body
    %section#header.section.section-header
      .row
        .small-12.columns
          %hgroup
            %h1.header-logo Horacio Herrera Portfolio
            %h2.header-title Making ideas into Products
            %p.header-tagline Hi!, I'm Horacio Herrera, a Freelance Designer & Developer, working on websites, apps & helping others to make ideas happend.
          %a.button.big-button{:href => "#"} Available for projects


    %section#about.section.section-about
      .row
        .small-12.medium-3.columns
          .avatar
            / img
        .small-12.medium-9.columns
          .text
            %p My name is Horacio Herrera, Freelance Designer/Developer from Panama City, Based in Barcelona.
            %p I'm specialized on making responsive websites, Front-end Development, iOS app design & Development. My passion is to create awesome digital products that people will love.
            %p On my work I focus in the functional part of design, giving  to my clients a clean & simple solution.

    %section#whatido.section.section-what-i-do
      .row
        .small-12.columns
          %h3.section-title What I do
      .row
        %ul.small-block-grid-2.large-block-grid-4.no-bullet.do-item-container
          %li.do-item
            / .do-img img
            %span.do-title Mobile
          %li.do-item
            / .do-img img
            %span.do-title Web
          %li.do-item
            / .do-img img
            %span.do-title Branding
          %li.do-item
            / .do-img img
            %span.do-title Print


    %section#fprojects.section.section-fprojects
      .row
        .small-12.columns
          %h3.section-title Featured Projects

      .row.single-project
        .small-12.medium-6.columns
          .project-preview
            / img
        .small-12.medium-6.columns
          .project-content
            %h4.project-title jordillopis.com
            %h5.project-technics web design + web development + responsive site
            %p.project-content Based on Kirby CMS, this website is the new portfolio of Jordi Llopis, Industrial designer based in Barcelona...
            %a.project-link{:href => "#"} Visit Project

      .row.single-project
        .small-12.medium-6.columns
          .project-preview
            / img
        .small-12.medium-6.columns
          .project-content
            %h4.project-title jordillopis.com
            %h5.project-technics web design + web development + responsive site
            %p.project-content Based on Kirby CMS, this website is the new portfolio of Jordi Llopis, Industrial designer based in Barcelona...
            %a.project-link{:href => "#"} Visit Project

      .row.single-project
        .small-12.medium-6.columns
          .project-preview
            / img
        .small-12.medium-6.columns
          .project-content
            %h4.project-title jordillopis.com
            %h5.project-technics web design + web development + responsive site
            %p.project-content Based on Kirby CMS, this website is the new portfolio of Jordi Llopis, Industrial designer based in Barcelona...
            %a.project-link{:href => "#"} Visit Project

      .row.single-project
        .small-12.medium-6.columns
          .project-preview
            / img
        .small-12.medium-6.columns
          .project-content
            %h4.project-title jordillopis.com
            %h5.project-technics web design + web development + responsive site
            %p.project-content Based on Kirby CMS, this website is the new portfolio of Jordi Llopis, Industrial designer based in Barcelona...
            %a.project-link{:href => "#"} Visit Project



    %section#social.section.section-social
      .row
        .small-12.columns
          %h3.section-title Where to find me

      .row
        .small-12.columns
          %ul.no-bullet
            %li
              %a{:href => "#"}
                %span mail
            %li
              %a{:href => "#"}
                %span twitter
            %li
              %a{:href => "#"}
                %span github
            %li
              %a{:href => "#"}
                %span dribbble
            %li
              %a{:href => "#"}
                %span behance
            %li
              %a{:href => "#"}
                %span linkedin


    %footer.section.section-footer
      .row
        .small-12.large-6.columns
          .preview-container
            %h4.preview-title Last Tweet
            .preview-content
              %p Recommended read for uber-Builders http://buff.ly/1egA3E8 
        .small-12.large-6.columns
          .preview-container
            %h4.preview-title Last Post
            .preview-content
              %p Recommended read for uber-Builders 

      .row
        .small-12.columns
          %p.copy copyright &copy; 2014







